annotated-doc
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
chat-downloader
click
colorama
colorlog
dnspython
docstring_parser
exceptiongroup
fastapi
filelock
fsspec
h11
h2
hpack
httpcore
httpx
huggingface_hub
hyperframe
idna
isodate
Jinja2
joblib
lxml
MarkupSafe
motor
mpmath
networkx
numpy
outcome
packaging
pandas
protobuf
pycountry
pycparser
pycryptodome
pydantic
pydantic_core
pymongo
PySocks
pytchat
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
sacremoses
safetensors
scikit-learn
scipy
selenium
sentencepiece
six
sniffio
sortedcontainers
starlette
streamlink
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
websocket-client
wsproto
yt-dlp
